<script setup lang="ts">
	import Message from "primevue/message"

	import type { Parser, Stringifier } from "src/functions/useQueryParam"

	import { ActiveVacationZones } from "src/constants"
	import formatDateIsoString from "src/functions/formatDateIsoString"
	import useQueryParam from "src/functions/useQueryParam"
	import Calendar from "src/components/Calendar.vue"
	import Header from "src/components/Header.vue"

	const { value: gregorianDate, isValid: isValidGregorianDate } = useQueryParam("date", {
		parse: (value) => {
			if (value === undefined) {
				return [true, new Date()]
			}
			if (typeof value === "string" && /^\d{4,6}-\d{2}-\d{2}$/.test(value) && value === formatDateIsoString(new Date(value))) {
				return [true, new Date(value)]
			}
			return [false, new Date()]
		},
		stringify: (value) => value ? formatDateIsoString(value) : undefined,
	})

	const defaultActiveVacationZones = ActiveVacationZones.ALL
	const { value: activeVacationZones, isValid: isValidActiveVacationZones } = useQueryParam("vacation", {
		parse: (value) => {
			if (value === undefined) {
				return [true, defaultActiveVacationZones]
			}
			if (typeof value === "string" && Object.keys(ActiveVacationZones).includes(value)) {
				return [true, ActiveVacationZones[value as keyof typeof ActiveVacationZones]]
			}
			return [false, defaultActiveVacationZones]
		},
		stringify: (value) => {
			if (value && value !== defaultActiveVacationZones) {
				return Object.keys(ActiveVacationZones)[Object.values(ActiveVacationZones).indexOf(value)]
			}

			return undefined
		}
	})

	const booleanParser: Parser<boolean> = (value) => {
		if (value === undefined) {
			return [true, true]
		}
		if (typeof value === "string" && ["yes", "no"].includes(value)) {
			return [true, value === "yes"]
		}
		return [false, true]
	}
	const booleanStringifier: Stringifier<boolean> = (value) => value ? undefined : "no"

	const { value: withHolidays, isValid: isValidWithHolidays } = useQueryParam("holidays", {
		parse: booleanParser,
		stringify: booleanStringifier,
	})

	const { value: condensedFormat, isValid: isValidCondensedFormat } = useQueryParam("condensed", {
		parse: booleanParser,
		stringify: booleanStringifier,
	})
</script>

<template>
	<Message
		class="my-2"
		v-if="!isValidGregorianDate"
		severity="info"
		closable
	>
		La valeur fournie pour le paramètre <code>date</code> est incorrecte. La date du jour a été prise en compte.
	</Message>
	<Message
		class="my-2"
		v-if="!isValidActiveVacationZones"
		severity="info"
		closable
	>
		La valeur fournie pour le paramètre <code>vacation</code> est incorrecte. La valeur <code>{{ defaultActiveVacationZones.toLocaleUpperCase() }}</code> par défaut a été prise en compte.
	</Message>
	<Message
		class="my-2"
		v-if="!isValidWithHolidays"
		severity="info"
		closable
	>
		La valeur fournie pour le paramètre <code>holidays</code> est incorrecte. La valeur <code>oui</code> par défaut a été prise en compte.
	</Message>
	<Message
		class="my-2"
		v-if="!isValidCondensedFormat"
		severity="info"
		closable
	>
		La valeur fournie pour le paramètre <code>condensed</code> est incorrecte. La valeur <code>oui</code> par défaut a été prise en compte.
	</Message>

	<Header
		v-model:gregorian-date="gregorianDate"
		v-model:active-vacation-zones="activeVacationZones"
		v-model:with-holidays="withHolidays"
		v-model:condensed-format="condensedFormat"
	/>

	<Calendar
		:gregorian-date="gregorianDate"
		:with-holidays="withHolidays"
		:condensed-format="condensedFormat"
		:active-vacation-zones="activeVacationZones"
	/>
</template>
