<script setup lang="ts">
	import { computed, toRefs } from "vue"

	import {
		DAYS_PER_YEAR,
		DAYS_PER_LEAP_YEAR,
		MONTHS,
		ActiveVacationZones,
	} from "src/constants"
	import checkLeapYear from "src/functions/isLeapYear"
	import DayMonth from "src/components/DayMonth.vue"
	import Month from "src/components/Month.vue"

	const props = defineProps<{
		gregorianDate: Date
		withHolidays: boolean
		condensedFormat: boolean
		activeVacationZones: ActiveVacationZones
	}>()
	const { gregorianDate, withHolidays, condensedFormat, activeVacationZones } = toRefs(props)

	const currentYear = computed(() => gregorianDate.value.getFullYear())
	const currentYearDay = computed(() => {
		const date = gregorianDate.value
		return (Date.UTC(date.getFullYear(), date.getMonth(), date.getDate()) - Date.UTC(date.getFullYear(), 0, 0)) / 24 / 60 / 60 / 1_000
	})
	const isLeapYear = computed(() => checkLeapYear(currentYear.value))

	const months = computed(() => {
		let daysCount = 0

		return Array.from({ length: 12 }, (_, index) => {
			const name = MONTHS[index]!
			const weeksOffset = Math.floor(daysCount / 7) + 1
			const firstWeekDaysOffset = daysCount % 7
			const daysInMonth = (index + 1) % 3 == 0 ? 31 : 30
			daysCount += daysInMonth

			return {
				name,
				weeksOffset,
				firstWeekDaysOffset,
				yearDaysOffset: daysCount - daysInMonth,
				daysInMonth,
			}
		})
	})
</script>

<template>
	<main class="grow">
		<div class="months-list">
			<Month
				v-for="{ name, weeksOffset, firstWeekDaysOffset, yearDaysOffset, daysInMonth }, index in months.slice(0, 6)"
				:key="`month-${index}`"
				:current-year="currentYear"
				:current-year-day="currentYearDay"
				:name="name"
				:month="index + 1"
				:weeks-offset="weeksOffset"
				:first-week-days-offset="firstWeekDaysOffset"
				:year-days-offset="yearDaysOffset"
				:days-in-month="daysInMonth"
				:with-holidays="withHolidays"
				:active-vacation-zones="activeVacationZones"
				:condensed-format="condensedFormat"
			/>

			<DayMonth
				key="leapDay"
				v-if="isLeapYear"
				name="Bissexte"
				:year="currentYear"
				:year-day="DAYS_PER_LEAP_YEAR / 2"
				:current-year-day="currentYearDay"
				:is-holiday="withHolidays"
			/>

			<Month
				v-for="{ name, weeksOffset, firstWeekDaysOffset, yearDaysOffset, daysInMonth }, index in months.slice(6)"
				:key="`month-${index + 6}`"
				:current-year="currentYear"
				:current-year-day="currentYearDay"
				:name="name"
				:month="index + 6 + 1"
				:weeks-offset="weeksOffset"
				:first-week-days-offset="firstWeekDaysOffset"
				:year-days-offset="yearDaysOffset + (isLeapYear ? 1 : 0)"
				:days-in-month="daysInMonth"
				:with-holidays="withHolidays"
				:active-vacation-zones="activeVacationZones"
				:condensed-format="condensedFormat"
			/>

			<DayMonth
				key="newYearsDay"
				name="Jour de l’an"
				:year="currentYear"
				:year-day="isLeapYear ? DAYS_PER_LEAP_YEAR : DAYS_PER_YEAR"
				:current-year-day="currentYearDay"
				:is-holiday="withHolidays"
			/>
		</div>
	</main>
</template>
