<script setup lang="ts">
	import { computed, toRefs } from "vue"

	import { VacationZones, WEEK_DAYS } from "src/constants"

	const props = withDefaults(
		defineProps<{
			year: number
			yearDay: number
			condensedFormat: boolean
			isToday?: boolean
			holidayName?: string | null
			isVacationZoneA?: boolean
			isVacationZoneB?: boolean
			isVacationZoneC?: boolean
		}>(),
		{
			isToday: false,
			holidayName: null,
			isVacationZoneA: false,
			isVacationZoneB: false,
			isVacationZoneC: false,
		}
	)
	const {
		year,
		yearDay,
		condensedFormat,
		isToday,
		holidayName,
		isVacationZoneA,
		isVacationZoneB,
		isVacationZoneC,
	} = toRefs(props)

	const isAnyVacationZone = computed(() => isVacationZoneA.value || isVacationZoneB.value || isVacationZoneC.value)

	const gregorianEquivalentOfToday = computed(() => {
		const equivalent = new Date(year.value, 0)
		equivalent.setDate(yearDay.value)
		return new Date(equivalent)
	})

	const activeVacationZones = computed(() => {
		return Object.entries({
			[VacationZones.ZONE_A]: isVacationZoneA.value,
			[VacationZones.ZONE_B]: isVacationZoneB.value,
			[VacationZones.ZONE_C]: isVacationZoneC.value,
		})
			.filter(([_, isActive]) => isActive)
			.map(([zoneName]) => zoneName)
	})

	const title = computed(() => {
		const result = [`~ ${gregorianEquivalentOfToday.value.toLocaleDateString()}`]

		if (holidayName.value !== null) {
			result.push(`${holidayName.value}`)
		}

		if (activeVacationZones.value.length === 1) {
			result.push(`Vacances pour la zone ${activeVacationZones.value[0]}`)
		}
		else if (activeVacationZones.value.length > 1) {
			result.push(`Vacances pour les zones ${activeVacationZones.value.slice(0, -1).join(", ")} et ${activeVacationZones.value[activeVacationZones.value.length - 1]}`)
		}

		if (isToday.value) {
			result.push("Aujourd’hui")
		}

		return result.join("\n")
	})
</script>

<template>
	<td v-if="condensedFormat" class="cell relative text-center border border-neutral-400 dark:border-neutral-600" :title="title">
		<div class="flex flex-col w-full h-full">
			<div class="flex justify-center items-center flex-grow p-1 md:p-2">
				<span class="day">
					<slot />
				</span>
			</div>
			<div v-if="isAnyVacationZone" class="w-full flex gap-0.5 ps-0.5 pe-0.5 pb-0.5">
				<span v-if="isVacationZoneA" class="zoneA"></span>
				<span v-if="isVacationZoneB" class="zoneB"></span>
				<span v-if="isVacationZoneC" class="zoneC"></span>
			</div>
		</div>
	</td>

	<tr v-else :title="title">
		<td class="cell text-center">
			{{ WEEK_DAYS[(yearDay - 1) % 7]![0]!.toLocaleUpperCase() }}
		</td>
		<th class="cell text-center font-black">
			<slot />
		</th>
		<td class="cell w-full">
			{{ holidayName }}
		</td>
		<td class="cell">
			<span v-if="isToday" class="today"><span class="day px-2 py-1 -my-1">Aujourd’hui</span></span>
		</td>
		<td class="h-full pr-2 md:pr-4">
			<div class="flex gap-0.5 h-full">
				<div class="zone" :class="{ zoneA: isVacationZoneA }"></div>
				<div class="zone" :class="{ zoneB: isVacationZoneB }"></div>
				<div class="zone" :class="{ zoneC: isVacationZoneC }"></div>
			</div>
		</td>
		<td class="cell">
			<span v-if="yearDay % 7 === 1" class="week-number font-normal italic font-sans text-neutral-600">
				{{ `${Math.ceil(yearDay / 7)}`.padStart(2, "0") }}
			</span>
		</td>
	</tr>
</template>

<style>
	.holiday .week-number {
		@apply text-neutral-100;
	}
</style>
