<script setup lang="ts">
	import { computed, toRefs } from "vue"

	import {
		HOLIDAYS,
		ZONE_A,
		ZONE_B,
		ZONE_C,
		ActiveVacationZones,
	} from "src/constants"
	import DayCell from "src/components/DayCell.vue"

	const props = defineProps<{
		currentYear: number
		currentYearDay: number
		month: number
		monthDay: number
		yearDay: number
		withHolidays: boolean
		condensedFormat: boolean
		activeVacationZones: ActiveVacationZones
	}>()
	const {
		currentYear,
		currentYearDay,
		month,
		monthDay,
		yearDay,
		withHolidays,
		condensedFormat,
		activeVacationZones,
	} = toRefs(props)

	const isToday = computed(() => currentYearDay.value === yearDay.value)
	const isSaturday = computed(() => yearDay.value % 7 === 6)
	const isSunday = computed(() => yearDay.value % 7 === 0)

	const holiday = computed(() => {
		if (withHolidays.value) {
			return HOLIDAYS.find((holiday) => holiday.month === month.value && holiday.day === monthDay.value)?.name || null
		}

		return null
	})

	const checkZonePeriods = (vacationZonePeriods: typeof ZONE_A) => {
		return vacationZonePeriods.some(({ start, end }) => {
			const isAfterStartDate = start.month < month.value || (start.month === month.value && start.day <= monthDay.value)
			const isBeforeEndDate = month.value < end.month || (month.value === end.month && monthDay.value <= end.day)

			return isAfterStartDate && isBeforeEndDate
		})
	}

	const isVacationZoneA = computed(() => {
		return (activeVacationZones.value === ActiveVacationZones.ALL || activeVacationZones.value === ActiveVacationZones.ZONE_A) && checkZonePeriods(ZONE_A)
	})

	const isVacationZoneB = computed(() => {
		return (activeVacationZones.value === ActiveVacationZones.ALL || activeVacationZones.value === ActiveVacationZones.ZONE_B) && checkZonePeriods(ZONE_B)
	})

	const isVacationZoneC = computed(() => {
		return (activeVacationZones.value === ActiveVacationZones.ALL || activeVacationZones.value === ActiveVacationZones.ZONE_C) && checkZonePeriods(ZONE_C)
	})
</script>

<template>
	<DayCell
		:class="{ today: isToday, saturday: isSaturday, sunday: isSunday, holiday: holiday !== null }"
		:year="currentYear"
		:year-day="yearDay"
		:condensed-format="condensedFormat"
		:is-today="isToday"
		:holiday-name="holiday"
		:is-vacation-zone-a="isVacationZoneA"
		:is-vacation-zone-b="isVacationZoneB"
		:is-vacation-zone-c="isVacationZoneC"
	>
		{{ monthDay }}
	</DayCell>
</template>
