<script setup lang="ts">
	import { computed, toRefs } from "vue"

	import DayCell from "src/components/DayCell.vue"

	const props = defineProps<{
		name: string
		year: number
		yearDay: number
		currentYearDay: number
		isHoliday: boolean
	}>()
	const {
		name,
		year,
		yearDay,
		currentYearDay,
		isHoliday,
	} = toRefs(props)

	const isToday = computed(() => currentYearDay.value === yearDay.value)
</script>

<template>
	<table class="month month-condensed leap-day">
		<thead>
			<tr>
				<th class="header-cell text-center bg-neutral-800 border border-neutral-800">
					{{ name }}
				</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<DayCell
					:class="{ today: isToday, holiday: isHoliday }"
					:year="year"
					:year-day="yearDay"
					:is-today="isToday"
					:condensed-format="true"
				>
					{{ name }}
				</DayCell>
			</tr>
		</tbody>
	</table>
</template>
