<script setup lang="ts">
	import { computed } from "vue"
	import DatePicker from "primevue/datepicker"
	import Select from "primevue/select"
	import ToggleSwitch from "primevue/toggleswitch"

	import { ActiveVacationZones } from "src/constants"
	import Legend from "src/components/Legend.vue"

	const gregorianDate = defineModel<Date>("gregorianDate")
	const activeVacationZones = defineModel<ActiveVacationZones>("activeVacationZones")
	const withHolidays= defineModel<boolean>("withHolidays")
	const condensedFormat = defineModel<boolean>("condensedFormat")

	const currentYear = computed(() => gregorianDate.value!.getFullYear())
</script>

<template>
	<header class="grow flex flex-col gap-4 px-4 pt-2 pb-6">
		<div class="flex flex-row flex-wrap gap-6 justify-center md:justify-between">
			<div class="grow md:grow-0 flex flex-col gap-2 text-center md:text-left">
				<h1 class="text-3xl font-bold">
					Année {{ currentYear }}
				</h1>
				<p>
					Les bulles d’information indiquent la date grégorienne équivalente.
				</p>
			</div>

			<form class="grow md:grow-0 flex flex-col md:flex-row justify-center gap-4" @submit.prevent>
				<div class="field">
					<label>
						Date grégorienne
					</label>
					<div>
						<DatePicker
							class="w-full"
							v-model="gregorianDate"
							showButtonBar
							showIcon
							showWeek
							iconDisplay="input"
						/>
					</div>
				</div>

				<div class="field">
					<label>
						Zone de vacances
					</label>
					<div>
						<Select
							class="w-full"
							v-model="activeVacationZones"
							:options="Object.values(ActiveVacationZones)"
							placeholder="Choissisez votre zone…"
						/>
					</div>
				</div>

				<div class="field self-start justify-center md:self-auto">
					<label>
						Jours fériés
					</label>
					<div>
						<div class="w-full flex justify-center items-center">
							<ToggleSwitch v-model="withHolidays" />
						</div>
					</div>
				</div>

				<div class="field self-start justify-center md:self-auto">
					<label>
						Format condensé
					</label>
					<div>
						<div class="w-full flex justify-center items-center">
							<ToggleSwitch v-model="condensedFormat" />
						</div>
					</div>
				</div>
			</form>
		</div>
		<Legend />
	</header>
</template>

<style scoped>
	.field {
		@apply flex flex-col gap-1 flex-shrink-0;
	}

	.field > div {
		@apply w-full flex-grow flex justify-stretch;
	}

	.field label {
		@apply mx-2 hover:cursor-pointer;
	}
</style>
