<template>
	<div class="flex flex-col gap-4">
		<h2 class="text-xl font-semibold">
			Légende
		</h2>
		<div class="flex flex-col md:flex-row flex-wrap gap-x-6 gap-y-4">
			<div class="flex gap-1">
				<span class="legend"></span> Jour de semaine
			</div>
			<div class="flex gap-1">
				<span class="legend saturday"></span> Samedi
			</div>
			<div class="flex gap-1">
				<span class="legend sunday"></span> Dimanche
			</div>
			<div class="flex gap-1">
				<span class="legend holiday"></span> Jour férié
			</div>
			<div class="flex gap-1">
				<div class="flex gap-2">
					<span class="legend today">
						<div class="flex flex-col w-full h-full">
							<div class="content">
								<span class="day !rounded-sm"></span>
							</div>
						</div>
					</span>
					<span class="legend today holiday">
						<div class="flex flex-col w-full h-full">
							<div class="content">
								<span class="day !rounded-sm"></span>
							</div>
						</div>
					</span>
				</div>
				Aujourd’hui
			</div>
			<div class="flex gap-1">
				<span class="legend">
					<div class="flex flex-col w-full h-full">
						<div class="content"></div>
						<div class="month-condensed w-full flex gap-0.5 ps-0.5 pe-0.5 pb-0.5">
							<span class="zoneA"></span>
						</div>
					</div>
				</span>
				<span class="legend">
					<div class="flex flex-col w-full h-full">
						<div class="month-expanded w-full h-full flex gap-0.5 ps-0.5 pe-0.5">
							<span class="zone zoneA"></span>
							<span class="zone"></span>
							<span class="zone"></span>
						</div>
					</div>
				</span>
				Vacances en zone A
			</div>
			<div class="flex gap-1">
				<span class="legend">
					<div class="flex flex-col w-full h-full">
						<div class="content"></div>
						<div class="month-condensed w-full flex gap-0.5 ps-0.5 pe-0.5 pb-0.5">
							<span class="zoneB"></span>
						</div>
					</div>
				</span>
				<span class="legend">
					<div class="flex flex-col w-full h-full">
						<div class="month-expanded w-full h-full flex gap-0.5 ps-0.5 pe-0.5">
							<span class="zone"></span>
							<span class="zone zoneB"></span>
							<span class="zone"></span>
						</div>
					</div>
				</span>
				Vacances en zone B
			</div>
			<div class="flex gap-1">
				<span class="legend">
					<div class="flex flex-col w-full h-full">
						<div class="content"></div>
						<div class="month-condensed w-full flex gap-0.5 ps-0.5 pe-0.5 pb-0.5">
							<span class="zoneC"></span>
						</div>
					</div>
				</span>
				<span class="legend">
					<div class="flex flex-col w-full h-full">
						<div class="month-expanded w-full h-full flex gap-0.5 ps-0.5 pe-0.5">
							<span class="zone"></span>
							<span class="zone"></span>
							<span class="zone zoneC"></span>
						</div>
					</div>
				</span>
				Vacances en zone C
			</div>
		</div>
	</div>
</template>

<style scoped>
	.legend {
		@apply inline-block w-6 h-6 -mb-[.4em] border border-neutral-400 rounded-sm overflow-hidden;
	}

	.content {
		@apply flex justify-center items-center flex-grow p-1;
	}
</style>
