<script setup lang="ts">
	import { computed, toRefs } from "vue"

	import { WEEK_DAYS, DAYS_PER_WEEK, ActiveVacationZones } from "src/constants"
	import DayCell from "src/components/DayCell.vue"
	import DayMonthCell from "src/components/DayMonthCell.vue"

	const props = defineProps<{
		currentYear: number
		currentYearDay: number
		name: string
		month: number
		weeksOffset: number
		firstWeekDaysOffset: number
		yearDaysOffset: number
		daysInMonth: number
		withHolidays: boolean
		condensedFormat: boolean
		activeVacationZones: ActiveVacationZones
	}>()
	const {
		currentYear,
		currentYearDay,
		name,
		month,
		weeksOffset,
		firstWeekDaysOffset,
		yearDaysOffset,
		daysInMonth,
		withHolidays,
		condensedFormat,
		activeVacationZones,
	} = toRefs(props)

	const weeksInMonth = computed(() => Math.ceil((daysInMonth.value + firstWeekDaysOffset.value) / 7))

	const weeks = computed(() => {
		let monthDay = 1 - firstWeekDaysOffset.value

		return Array.from({ length: weeksInMonth.value }).map(() => {
			return Array.from({ length: DAYS_PER_WEEK }).map(() => {
				return monthDay++
			})
		})
	})
</script>

<template>
	<table v-if="condensedFormat" class="month month-condensed">
		<thead>
			<tr>
				<th class="header-cell text-center bg-neutral-800" colspan="8">
					{{ name }}
				</th>
			</tr>
			<tr>
				<th class="header-cell text-center bg-neutral-700">
					Semaine
				</th>

				<th
					v-for="weekDay in WEEK_DAYS"
					class="header-cell text-center bg-neutral-700"
					:title="weekDay"
				>
					{{ weekDay[0]!.toLocaleUpperCase() }}
				</th>
			</tr>
		</thead>

		<tbody class="before:block before:mt-2">
			<tr v-for="week, weekIndex in weeks">
				<th class="header-cell font-normal bg-neutral-600 border border-neutral-600">
					{{ weeksOffset + weekIndex }}
				</th>
				<template v-for="monthDay in week">
					<DayCell
						v-if="monthDay <= 0 || monthDay > daysInMonth"
						class="text-gray-400 border-none"
						:year="currentYear"
						:year-day="yearDaysOffset + monthDay"
						:condensed-format="true"
					>
						{{ monthDay <= 0 ? 30 + monthDay : monthDay - 30 }}
					</DayCell>

					<DayMonthCell
						v-else
						:current-year="currentYear"
						:current-year-day="currentYearDay"
						:month="month"
						:month-day="monthDay"
						:year-day="yearDaysOffset + monthDay"
						:with-holidays="withHolidays"
						:condensed-format="true"
						:active-vacation-zones="activeVacationZones"
					/>
				</template>
			</tr>
		</tbody>
	</table>

	<table v-else class="month month-expanded border border-neutral-500/20 h-0">
		<thead>
			<tr>
				<th class="header-cell text-center bg-neutral-800" colspan="8">
					{{ name }}
				</th>
			</tr>
		</thead>

		<tbody>
			<DayMonthCell
				v-for="monthDay in daysInMonth"
				:current-year="currentYear"
				:current-year-day="currentYearDay"
				:month="month"
				:month-day="monthDay"
				:year-day="yearDaysOffset + monthDay"
				:with-holidays="withHolidays"
				:condensed-format="false"
				:active-vacation-zones="activeVacationZones"
			/>
		</tbody>
	</table>
</template>
