@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	@apply p-4 flex flex-col justify-stretch items-stretch;
	@apply bg-white dark:bg-neutral-900;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.months-list {
	@apply grid gap-4;
	/* La taille d’une cellule est :
		- 100 vw
		- moins les marges à gauche et à droite
		- moins les gouttières entre les tableaux
		- divisé par le nombre de cellules
	*/
	--months: 1;
	--cell-size: calc((100vw - 2 * 1rem - (var(--months) - 1) * 1rem) / (8 * var(--months)));
	grid-template-columns: repeat(var(--months), 1fr);
}

@media only screen and (min-width: 800px) {
	.months-list {
		--months: 2;
	}
}

@media only screen and (min-width: 1200px) {
	.months-list {
		--months: 3;
	}
}

@media only screen and (min-width: 1600px) {
	.months-list {
		--months: 4;
	}
}

@media only screen and (min-width: 2400px) {
	.months-list {
		--months: 6;
	}
}

.leap-day {
	grid-column: 1 / calc(var(--months) + 1);
}

.month {
	@apply border-collapse w-full max-w-full overflow-auto;
	scrollbar-width: thin;
}

.month-condensed {
	@apply table-fixed;
}

.month-expanded {
	@apply self-start;
}

.month .header-cell {
	@apply p-2 md:p-3 text-white text-center text-ellipsis overflow-hidden;
}

.month-condensed .cell,
.month-condensed .header-cell {
	width: var(--cell-size);
	height: var(--cell-size);
}

.month-expanded .cell {
	@apply px-2 py-1 md:px-3 md:py-2;
}

.month-condensed tr:nth-child(odd) {
	@apply bg-white dark:bg-neutral-900;
}

.month-condensed tr:nth-child(even) {
	@apply bg-blue-50 dark:bg-blue-950;
}

.saturday {
	@apply bg-blue-100 dark:bg-blue-900;
}

.sunday {
	@apply bg-blue-200 dark:bg-blue-800;
}

.today .day {
	@apply flex justify-center items-center w-full h-full;
	@apply text-white bg-green-400 font-bold rounded-lg;
}

.today.sunday .day,
.today.holiday .day {
	@apply text-black bg-yellow-300;
}

.holiday {
	@apply text-white dark:text-black font-bold bg-blue-600 dark:bg-blue-400;
}

.zoneA {
	@apply bg-red-500;
}

.zoneB {
	@apply bg-green-500;
}

.zoneC {
	@apply bg-yellow-500;
}

.month-condensed .zoneA,
.month-condensed .zoneB,
.month-condensed .zoneC {
	@apply flex-grow h-1;
}

.month-expanded .zone {
	@apply w-2 h-full;
}
